{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- Making and displaying the tables for the database -->
<h1>Roll Number : {{data[0]}}</h1>        
<table>
    <thead>
      <tr>
          <th>Number</th>
          <th>Option Chosen</th>
      </tr>
      </thead>
      <tbody>
       {% for i in range(1,length) %}
            <tr>
                <td>{{i}}</td>
                <td>{{data[i]}}</td>
            </tr>
      {% endfor %}
      </tbody>
  </table>
{% endblock %}