{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="bgimg">
        <div class="bg_container">
                <br><br>
                <h1>Optical Mark Recognition</h1>    <br>
                <h2>Muhammad</h2>
                <h2>Danyal Faheem</h2>
                <h2>Mehmood Amjad</h2>
            <form>
                <br>
                <input type="text" placeholder="Enter Roll" id="roll" name="roll">
                <br>
                    <a href="/MCQ" class="btn">
                        Check Result
                    </a>
                <br>
            </form>
        </div> 
    </div>
{% endblock %}